//- arguments    
mj-section(padding="0px" background-color="#ffffff")
    mj-column(padding-top="20px")
        mj-image(href="#" src="https://i.ibb.co/hyjXPWT/Video-Banner.png" alt="")/
mj-section(padding="0" background-color="#ffffff")
    mj-column(padding-top="20px")
        mj-text(color="#9B71AE" font-size="36px" font-weight="700" font-family="Poppins" align="center") What's included!
mj-section(padding="0 16px 40px 16px" background-color="#ffffff")
    mj-group(width="66.333333%")
        mj-column(width="50%")
            mj-image(width="100px" src="https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png" alt="")/
            mj-text(align="center" font-family="Poppins" font-size="14px" line-height="20px" font-weight="400") Country Information 
            mj-button(css-class="hbutton" padding="10px" font-size="12px" font-weight="700" line-height="16px" font-family="Poppins" color="#ffffff" background-color="#ffb900" href="#") Read more 
        mj-column(width="50%")
            mj-image(width="100px" src="https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png" alt="")/
            mj-text(align="center" font-family="Poppins" font-size="14px" line-height="20px" font-weight="400") Country Information 
            mj-button(css-class="hbutton" padding="10px" font-size="12px" font-weight="700" line-height="16px" font-family="Poppins" color="#ffffff" background-color="#ffb900" href="#") Read more 
    mj-column(width="33.333333%")
        mj-image(width="100px" src="https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png" alt="")/
        mj-text(align="center" font-family="Poppins" font-size="14px" line-height="20px" font-weight="400") Country Information
        mj-button(css-class="hbutton" padding="10px" font-size="12px" font-weight="700" line-height="16px" font-family="Poppins" color="#ffffff" background-color="#ffb900" href="#") Read more 