//- arguments    
mj-section(padding="0px" background-color="#ffffff")
    mj-column(padding-top="20px")
        mj-image(href="#" src="https://i.ibb.co/hyjXPWT/Video-Banner.png" alt="")/
mj-section(padding="0" background-color="#ffffff")
    mj-column(padding-top="20px")
        mj-text(color="#9B71AE" font-size="36px" font-weight="700" font-family="Poppins" align="center") What's included!
mj-section(padding="0 16px 40px 16px" background-color="#ffffff")
    mj-column(width="31.333333%" background-color="#ffffff")
        mj-image(width="100px" src="https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png" alt="")/
        mj-text(align="center" font-family="Poppins" font-size="14px" line-height="20px" font-weight="400") Country Information 
    //-mj-column(width="16px" padding-top="16px")
    mj-column(width="31.333333%" background-color="#ffffff")
        mj-image(width="100px" src="https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png" alt="")/
        mj-text(align="center" font-family="Poppins" font-size="14px" line-height="20px" font-weight="400") Country Information 
    //-mj-column(width="16px" padding-top="16px")
    mj-column(width="31.333333%" background-color="#ffffff")
        mj-image(width="100px" src="https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png" alt="")/
        mj-text(align="center" font-family="Poppins" font-size="14px" line-height="20px" font-weight="400") Country Information