//- Header
mj-section(padding="0" background-color='#453551' border-radius="20px 20px 0 0")
    mj-column(padding="0")
        mj-image(width="101px" align="left" href="www.google.com" src="https://i.ibb.co/Wc0CBVr/logo.png" alt="")/