mjml
    //- Head
    mj-head
        mj-title Discount Light
        mj-preview Pre-header text
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-font(name="Poppins" href="https://fonts.googleapis.com/css2?family=Poppins")
        mj-attributes
            mj-all(font-family="Poppin")/
            mj-image(border='none')/
        mj-breakpoint(width='480px')
        mj-style.
            .hbutton:hover td, .hbutton:hover a{
                background-color: #cc9600 !important;
                color: #e6e6e6 !important;
            }
    //- Body
    mj-body(background-color="#cccccc")       
        //- content
        block content
        //- Header
        block Header
            include ../includes/_header
        //- Introduction
        block Intro
            include ../includes/_intro
        //- Arguments
        block Arguments
            include ../includes/_arguments01
        //- Button
        block Button
            include ../includes/_button